*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* nav bar */
.main{
    width: 100%;
    height: 6vh;
    background-color: #5e605f;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 8;
}
.nav-btn{
    width: 10vw;
    height: 10vw;
    margin: 0 2vw;
    border: none;
    background-color: transparent;
}
.nav-container{
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: #5e605f;
    align-items: center;
}
.nav-parent{
    width: 90%;
    display: flex;
    text-decoration: none;
    color: #FFF;
    margin: 2vh 0;
}

.nav-item{
    display: flex;
}
.nav-icon{
    width: 5vw;
    height: 5vw;
}
.item{
    margin-left: 2vw;
}

/* content */
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
}
.main-head{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 2vw;
    background-color: #DDD;
    color: #5e605f;
}
.page-item-container{
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: .3px solid #5e605f;
}
.page-item{
    width: 50%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10pt;
    background-color: #FFF;
    color: #5e605f;
}
.page-item:hover{
    margin-bottom: -.6px;
    border-left: .5px solid #5e605f;
    border-top: .5px solid #5e605f;
    border-right: .5px solid #5e605f;
    color: #7ebd42;
} 
.add-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.add-card{
    width: 100%;
    height: 35vh;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2vh 2vw;
}
.add-card > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.add-card > div > button{
    width: 25%;
    height: 5vh;
    border-radius: 3px;
    border: none;
    background-color: #7ebd42;
    color: #FFF;
}
.staff{
    width: 40%;
    display: flex;
}

@media screen and (min-width:560px) {
    .main{
        height: 12vh;
    }
    .nav-btn{
        width: 6vw;
        height: 6vw;
    }
}